body {
    background-image: url(fundo_para_site.jpg);
    background-color: aqua;
    margin-top: 0px;
    padding-top: 0px;
    background-size: cover;
    background-position: center;
    height: 100vh;
}